***LENDO OS DADOS***

In [3]:
import pandas as pd

In [4]:
path_json = '../data_raw/dados_empresaA.json'
path_csv = '../data_raw/dados_empresaB.csv'

In [5]:
df_data_json = pd.read_json(path_json)
df_data_csv = pd.read_csv(path_csv)

In [6]:
df_data_json.head()

,Nome do Produto,Categoria do Produto,Preço do Produto (R$),Quantidade em Estoque,Filial
0,Blush em pó,Eletrodomésticos,79.41,7,Filial 7
1,Lápis de sobrancelha,Eletrodomésticos,85.47,78,Filial 8
2,Base líquida,Roupas,75.02,34,Filial 8
3,Base líquida,Roupas,44.94,90,Filial 10
4,Lápis de sobrancelha,Alimentos,58.63,91,Filial 7

In [8]:
df_data_csv.head()

,Nome do Item,Classificação do Produto,Valor em Reais (R$),Quantidade em Estoque,Nome da Loja,Data da Venda
0,Lápis de sobrancelha,Roupas,55.17,62,Filial 1,2023-04-13 18:58:06.794203
1,Batom matte,Eletrônicos,74.15,48,Filial 9,2023-06-03 18:58:06.794203
2,Corretivo,Roupas,54.86,36,Filial 5,2023-06-08 18:58:06.794203
3,Delineador líquido,Roupas,91.29,1,Filial 8,2023-02-27 18:58:06.794203
4,Batom líquido,Roupas,44.65,52,Filial 2,2022-09-05 18:58:06.794203

***CONFERINDO NOMES E TAMANHO DAS COLUNAS***

In [ ]:
nome_colunas_json = df_data_json.columns
nome_colunas_json

pandas.core.indexes.base.Index

In [10]:
nomes_colunas_csv = df_data_csv.columns
nomes_colunas_csv

Index(['Nome do Item', 'Classificação do Produto', 'Valor em Reais (R$)',
       'Quantidade em Estoque', 'Nome da Loja', 'Data da Venda'],
      dtype='object')

In [11]:
len(nome_colunas_json)

5

In [12]:
len(nomes_colunas_csv)

6

***DELETANDO COLUNA***

In [ ]:
df_data_csv= df_data_csv.drop(columns=['Data da Venda'])

In [17]:
df_data_csv

,Nome do Item,Classificação do Produto,Valor em Reais (R$),Quantidade em Estoque,Nome da Loja
0,Lápis de sobrancelha,Roupas,55.17,62,Filial 1
1,Batom matte,Eletrônicos,74.15,48,Filial 9
2,Corretivo,Roupas,54.86,36,Filial 5
3,Delineador líquido,Roupas,91.29,1,Filial 8
4,Batom líquido,Roupas,44.65,52,Filial 2
...,...,...,...,...,...
1318,Lápis de sobrancelha,Alimentos,94.08,94,Filial 7
1319,Corretivo,Roupas,5.60,49,Filial 4
1320,Pó compacto,Eletrônicos,22.36,16,Filial 3
1321,Base líquida,Roupas,3.79,5,Filial 5
1322,Sombra de olhos,Eletrônicos,41.73,5,Filial 6

***RENOMEANDO COLUNA***

In [28]:
df_data_csv = df_data_csv.rename(columns={"Nome do Item": "Nome do Produto","Classificação do Produto": "Categoria do Produto","Valor em Reais (R$)": "Preço do Produto (R$)","Nome da Loja": "Filial"})

In [29]:
df_data_csv

,Nome do Produto,Categoria do Produto,Preço do Produto (R$),Quantidade em Estoque,Filial
0,Lápis de sobrancelha,Roupas,55.17,62,Filial 1
1,Batom matte,Eletrônicos,74.15,48,Filial 9
2,Corretivo,Roupas,54.86,36,Filial 5
3,Delineador líquido,Roupas,91.29,1,Filial 8
4,Batom líquido,Roupas,44.65,52,Filial 2
...,...,...,...,...,...
1318,Lápis de sobrancelha,Alimentos,94.08,94,Filial 7
1319,Corretivo,Roupas,5.60,49,Filial 4
1320,Pó compacto,Eletrônicos,22.36,16,Filial 3
1321,Base líquida,Roupas,3.79,5,Filial 5
1322,Sombra de olhos,Eletrônicos,41.73,5,Filial 6

***JUNTANDO DATAFRAMES***

In [38]:
len(df_data_csv) + len(df_data_json)

4446

In [34]:
list_df= [df_data_json,df_data_csv]

In [35]:
df_data_csv_concat_json = pd.concat(list_df)

In [37]:
df_data_csv_concat_json

,Nome do Produto,Categoria do Produto,Preço do Produto (R$),Quantidade em Estoque,Filial
0,Blush em pó,Eletrodomésticos,79.41,7,Filial 7
1,Lápis de sobrancelha,Eletrodomésticos,85.47,78,Filial 8
2,Base líquida,Roupas,75.02,34,Filial 8
3,Base líquida,Roupas,44.94,90,Filial 10
4,Lápis de sobrancelha,Alimentos,58.63,91,Filial 7
...,...,...,...,...,...
1318,Lápis de sobrancelha,Alimentos,94.08,94,Filial 7
1319,Corretivo,Roupas,5.60,49,Filial 4
1320,Pó compacto,Eletrônicos,22.36,16,Filial 3
1321,Base líquida,Roupas,3.79,5,Filial 5
1322,Sombra de olhos,Eletrônicos,41.73,5,Filial 6

***CONFERINDO SE EXISTE DUPLICADA***

In [49]:
sum(df_data_csv_concat_json.duplicated())

0

In [53]:
df_data_csv_concat_json.drop_duplicates()

,Nome do Produto,Categoria do Produto,Preço do Produto (R$),Quantidade em Estoque,Filial
0,Blush em pó,Eletrodomésticos,79.41,7,Filial 7
1,Lápis de sobrancelha,Eletrodomésticos,85.47,78,Filial 8
2,Base líquida,Roupas,75.02,34,Filial 8
3,Base líquida,Roupas,44.94,90,Filial 10
4,Lápis de sobrancelha,Alimentos,58.63,91,Filial 7
...,...,...,...,...,...
1318,Lápis de sobrancelha,Alimentos,94.08,94,Filial 7
1319,Corretivo,Roupas,5.60,49,Filial 4
1320,Pó compacto,Eletrônicos,22.36,16,Filial 3
1321,Base líquida,Roupas,3.79,5,Filial 5
1322,Sombra de olhos,Eletrônicos,41.73,5,Filial 6

***CONFERINDO SE EXISTE DADOS NULOS***

In [42]:
print(df_data_csv_concat_json.isnull())

      Nome do Produto  Categoria do Produto  Preço do Produto (R$)  \
0               False                 False                  False
1               False                 False                  False
2               False                 False                  False
3               False                 False                  False
4               False                 False                  False
...               ...                   ...                    ...
1318            False                 False                  False
1319            False                 False                  False
1320            False                 False                  False
1321            False                 False                  False
1322            False                 False                  False

      Quantidade em Estoque  Filial
0                     False   False
1                     False   False
2                     False   False
3                     False   False
4                     False   False
...                     ...     ...
1318                  False   False
1319                  False   False
1320                  False   False
1321                  False   False
1322                  False   False

[4446 rows x 5 columns]

In [52]:
df_data_csv_concat_json.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4446 entries, 0 to 1322
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Nome do Produto        4446 non-null   object
 1   Categoria do Produto   4446 non-null   object
 2   Preço do Produto (R$)  4446 non-null   float64
 3   Quantidade em Estoque  4446 non-null   int64
 4   Filial                 4446 non-null   object
dtypes: float64(1), int64(1), object(3)
memory usage: 208.4+ KB

In [51]:
df_data_csv_concat_json.dropna()

,Nome do Produto,Categoria do Produto,Preço do Produto (R$),Quantidade em Estoque,Filial
0,Blush em pó,Eletrodomésticos,79.41,7,Filial 7
1,Lápis de sobrancelha,Eletrodomésticos,85.47,78,Filial 8
2,Base líquida,Roupas,75.02,34,Filial 8
3,Base líquida,Roupas,44.94,90,Filial 10
4,Lápis de sobrancelha,Alimentos,58.63,91,Filial 7
...,...,...,...,...,...
1318,Lápis de sobrancelha,Alimentos,94.08,94,Filial 7
1319,Corretivo,Roupas,5.60,49,Filial 4
1320,Pó compacto,Eletrônicos,22.36,16,Filial 3
1321,Base líquida,Roupas,3.79,5,Filial 5
1322,Sombra de olhos,Eletrônicos,41.73,5,Filial 6

***CRIANDO CSV DOS DADOS JUNTOS***

In [ ]:
df_data_csv_concat_json.to_csv("../data_processed/dados_lojas_juntas.csv")

In [55]:
type(df_data_csv_concat_json)

pandas.core.frame.DataFrame