***LENDO OS DADOS***

In [1]:
import pandas as pd

In [2]:
path_json = '../data_raw/dados_empresaA.json'
path_csv = '../data_raw/dados_empresaB.csv'

In [18]:
df_data_json = pd.read_json(path_json)
df_data_csv = pd.read_csv(path_csv)

In [19]:
df_data_json.head()

,Nome do Produto,Categoria do Produto,Preço do Produto (R$),Quantidade em Estoque,Filial
0,Blush em pó,Eletrodomésticos,79.41,7,Filial 7
1,Lápis de sobrancelha,Eletrodomésticos,85.47,78,Filial 8
2,Base líquida,Roupas,75.02,34,Filial 8
3,Base líquida,Roupas,44.94,90,Filial 10
4,Lápis de sobrancelha,Alimentos,58.63,91,Filial 7

In [20]:
df_data_csv.head()

,Nome do Item,Classificação do Produto,Valor em Reais (R$),Quantidade em Estoque,Nome da Loja,Data da Venda
0,Lápis de sobrancelha,Roupas,55.17,62,Filial 1,2023-04-13 18:58:06.794203
1,Batom matte,Eletrônicos,74.15,48,Filial 9,2023-06-03 18:58:06.794203
2,Corretivo,Roupas,54.86,36,Filial 5,2023-06-08 18:58:06.794203
3,Delineador líquido,Roupas,91.29,1,Filial 8,2023-02-27 18:58:06.794203
4,Batom líquido,Roupas,44.65,52,Filial 2,2022-09-05 18:58:06.794203

In [ ]:
nome_colunas_json = df_data_json.columns
nome_colunas_json

Index(['Nome do Produto', 'Categoria do Produto', 'Preço do Produto (R$)',
       'Quantidade em Estoque', 'Filial'],
      dtype='object')

In [ ]:
nomes_colunas_csv = df_data_csv.columns
nomes_colunas_csv

Index(['Nome do Item', 'Classificação do Produto', 'Valor em Reais (R$)',
       'Quantidade em Estoque', 'Nome da Loja', 'Data da Venda'],
      dtype='object')

In [15]:
len(nome_colunas_json)

5

In [16]:
len(nomes_colunas_csv)

6

In [21]:
df_data_csv["Nome do Item"].rename(["Nome do Produto"])

TypeError: Series.name must be a hashable type